# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# TypeScript
*.tsbuildinfo

# Prisma
prisma/dev.db

# Cache
.cache/
temp/
tmp/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db